# Configuración de dominio
DOMAIN=

# Configuración de red Docker
TRAEFIK_DOCKER_NETWORK=traefik

# Credenciales para el panel de administración (usuario:contraseña en formato htpasswd)
# Para generar: htpasswd -nb usuario contraseña
TRAEFIK_LOGIN=

ACME_EMAIL=